// COLORS
$color-primary: #5DB2FF;
$color-primary-dark : #009DFF;
$color-primary-darker : #007bff;
$color-primary-light : #83C4FF;

$color-secondary-light : #C7C7C7;
$color-secondary-dark : #212529;
$color-secondary-darker : #1F1F1F;

$color-white: #fff;
$color-white-contact: #F5FBFF;
$color-light: #f8f9fa;
$color-dark: #1f1f1f;

$color-black: black;

$color-grey : #919191;
$color-grey-lighter: #707070;
$color-grey-light: #6c757d;
$color-grey-dark: #343a40;

// FONT FAMILIES
$font-primary: 'Poppins', sans-serif;

// PADDING
$padding-overall : calc((100vw - 105rem) / 2);

// BOX SHADOWS
// $shadow-primary: 0 1.5rem 4rem rgba( $color-black,  0.15);
// $shadow-secondary: 0 1rem 2rem rgba( $color-black,  0.4);

// FONT SIZES
$default-font-size: 1.6rem;

// BORDER RADIUS
$radius-primary: 3px;
